/* font */

$main-font: 'Montserrat', sans-serif;
// $secondary-font: 'Seaweed Script', cursive;
// $logo-font: 'Sacramento', cursive;
// $number-font: 'Inter', sans-serif;


/* color */
$background-color: rgb(30, 31, 34);
$main-color: #e6edf3;
// $main-color: #F1F1F1;

// $accent-color: #CFA878;
// $btn-background-color: #151313;
// $hov-color: #DAA35F;
// $act-color: #CB8D40;
// $dis-color: #302E2B;