.ticker-tape {
    span {
        display: inline-block;
        text-align: center;
        width: 100%;

        @media screen and (max-width: 767px) {
            animation: marquee 6s linear infinite;

            &:nth-child(1) {
                position: absolute;
                left: -100%;
                animation: marquee 6s 2s linear infinite;
            }

            &:nth-child(2) {
                position: absolute;
                left: -100%;
                animation: marquee 6s 4s linear infinite;
            }

            &:nth-child(3) {
                display: none;
            }

            &:nth-child(4) {
                display: none;
            }

            &:nth-child(5) {
                display: none;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            animation: marquee 10s linear infinite;

            &:nth-child(1) {
                position: absolute;
                left: -100%;
                animation: marquee 10s 2.5s linear infinite;
            }

            &:nth-child(2) {
                position: absolute;
                left: -100%;
                animation: marquee 10s 5s linear infinite;
            }

            &:nth-child(3) {
                position: absolute;
                left: -100%;
                animation: marquee 10s 7.5s linear infinite;
            }

            &:nth-child(4) {
                display: none;
            }

            &:nth-child(5) {
                display: none;
            }
        }

        @media screen and (min-width: 1200px) {
            animation: marquee 15s linear infinite;

            &:nth-child(1) {
                position: absolute;
                left: -100%;
                animation: marquee 15s 2.5s linear infinite;
            }

            &:nth-child(2) {
                position: absolute;
                left: -100%;
                animation: marquee 15s 5s linear infinite;
            }

            &:nth-child(3) {
                position: absolute;
                left: -100%;
                animation: marquee 15s 7.5s linear infinite;
            }

            &:nth-child(4) {
                position: absolute;
                left: -100%;
                animation: marquee 15s 10s linear infinite;
            }

            &:nth-child(5) {
                position: absolute;
                left: -100%;
                animation: marquee 15s 12.5s linear infinite;
            }
        }

    }

    .ticker-tape__line {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 36px;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes marquee {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 0;
        transform: translateX(100%);
    }
}