// .price{}


//// Accordion ////

.accordion-container {

    @media screen and (min-width: 480px) and (max-width: 767px) {
        padding: 0 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1229px) {
        padding: 0 40px;
    }

    @media screen and (min-width: 1230px) {
        padding: 0 80px;
    }
}

.ac {
    margin-top: 8px;
    background-color: $secondary-background-color;
    box-sizing: border-box;
    border-radius: 22px;
    border: 1px solid $main-color;

    // Header class
    .ac-header {
        margin: 0;
        padding: 0;
        border-radius: 22px;

        & h3 {
            @media screen and (max-width: 767px) {
                font-size: 24px;
            }

            @media screen and (min-width: 768px) and (max-width: 1229px) {
                font-size: 28px;
            }

            @media screen and (min-width: 1230px) {
                font-size: 30px;
            }
        }
    }

    // Trigger class
    .ac-trigger {
        font-weight: 600;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 24px;
        cursor: pointer;
        background-color: transparent;
        transition: color 250ms ease;
        text-decoration: none;
        margin: 0;
        border: 0;

        @media screen and (max-width: 767px) {
            font-size: 18px;
        }

        @media screen and (min-width: 768px) and (max-width: 1229px) {
            font-size: 22px;
        }

        @media screen and (min-width: 1230px) {
            font-size: 26px;
        }

        &:focus,
        &:hover {
            color: $secondary-color;
        }

        &:hover {
            .ac-trigger__icon {
                transform: rotate(-25deg);
            }
        }
    }

    // Panel class
    .ac-panel {
        overflow: hidden;
        transition-property: height, visibility;
        transition-timing-function: ease;

        .ac-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.4;
            margin: 0;
            padding: 54px 48px;

            @media screen and (max-width: 767px) {
                padding: 48px 42px;
            }

            @media screen and (min-width: 768px) {
                padding: 54px 48px;
            }
        }
    }

    // Hide content when Javascript is enabled
    &.js-enabled {
        .ac-panel {
            visibility: hidden;
        }
    }

    // Active class
    &.is-active {

        .ac-panel {
            visibility: visible;
        }

        &>.ac-header .ac-trigger {
            .ac-trigger__icon {
                transform: rotate(-135deg);
            }

            &:hover {
                .ac-trigger__icon {
                    transform: rotate(-110deg);
                }
            }
        }
    }
}

.ac-trigger__icon-cont {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    // background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.ac-trigger__icon {
    fill: $main-color;
    transition: transform 250ms ease;
}



//// Term ////
.term__list {
    position: relative;
    gap: 48px;
    margin-bottom: 90px;

    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &::before {
        position: absolute;
        top: -40px;
        left: -48px;
        content: "";
        display: block;
        height: 1.2px;
        background-color: $main-background-color;

        @media screen and (max-width: 767px) {
            width: calc(100% + 84px);
        }

        @media screen and (min-width: 768px) {
            width: calc(100% + 96px);
        }
    }

    &::after {
        position: absolute;
        bottom: -40px;
        left: -48px;
        content: "";
        display: block;
        height: 1.2px;
        background-color: $main-background-color;

        @media screen and (max-width: 767px) {
            width: calc(100% + 84px);
        }

        @media screen and (min-width: 768px) {
            width: calc(100% + 96px);
        }
    }
}

.term__item {

    // border: 1px solid $main-color;
    // border-radius: 22px;

    // @media screen and (max-width: 1199px) {
    //     padding: 26px;
    // }

    // @media screen and (min-width: 1200px) {
    //     padding: 36px 24px;
    // }

    @media screen and (max-width: 767px) {
        &+& {
            margin-top: 24px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 48px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 48px) / 4);
    }

    .term__item-cont {

        p:nth-child(1) {
            font-weight: 600;

            @media screen and (max-width: 1199px) {
                font-size: 24px;
            }

            @media screen and (min-width: 1200px) {
                font-size: 28px;
            }
        }

        p:nth-child(2) {
            @media screen and (max-width: 1199px) {
                margin-top: 8px;
            }

            @media screen and (min-width: 1200px) {
                margin-top: 12px;
            }
        }
    }
}

// .term__btn {
// }



//// Calcukator ////

.calculator__title {
    @media screen and (max-width: 767px) {
        font-size: 22px;
        margin-bottom: 28px;
    }

    @media screen and (min-width: 768px) and (max-width: 1229px) {
        font-size: 24px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1230px) {
        font-size: 28px;
        margin-bottom: 36px;
    }
}

.calculator__form {
    position: relative;
    margin-bottom: 90px;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 18px;
        justify-content: space-around;
    }

    &::before {
        position: absolute;
        top: -112px;
        left: -48px;
        content: "";
        display: block;
        height: 1.2px;
        background-color: $main-background-color;

        @media screen and (max-width: 767px) {
            width: calc(100% + 84px);
        }

        @media screen and (min-width: 768px) {
            width: calc(100% + 96px);
        }
    }

    &::after {
        position: absolute;
        bottom: -40px;
        left: -48px;
        content: "";
        display: block;
        height: 1.2px;
        background-color: $main-background-color;

        @media screen and (min-width: 768px) {
            width: calc(100% + 96px);
        }
    }
}

.calculator___checkboxes-cont {
    margin-bottom: 36px;
}

// checkboxes //

.calculator__checkbox-field {
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px) {
        font-size: 16px;
        line-height: 1.7;
    }

    @media screen and (min-width: 1200px) {
        font-size: 18px;
        line-height: 1.7;
    }

    &:hover {
        .calculator__icon-check {
            border-color: $secondary-color;
        }
    }

    &+& {
        margin-top: 4px;
    }
}

.calculator__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.calculator__icon-check {
    margin-right: 6px;
    flex-shrink: 0;

    fill: transparent;
    border: 2px solid $main-color;
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .calculator_checkbox-field:focus-within & {
        border-color: $secondary-color;
    }

    .calculator__checkbox:checked+& {
        border: none;
        background-color: transparent;
        fill: $main-color;
        stroke: $main-color;
    }
}

.contact-form__submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;
}


// counter //

.calculator___counter-cont-wrap {
    display: flex;
    flex-direction: column;
}

.calculator___counter-cont {
    flex: auto;

    @media screen and (max-width: 767px) {
        margin-bottom: 36px;
    }
}

.calculator__counter-field {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 1199px) {
        font-size: 16px;
        line-height: 1.7;
    }

    @media screen and (min-width: 1200px) {
        font-size: 18px;
        line-height: 1.7;
    }

    &+& {
        margin-top: 18px;
    }
}

.calculator__btn-counter {
    border: none;
    background: transparent;
    padding: 6px 8px;
    width: fit-content;
}

// .btn-counter-minus {
//     &:hover {
//         .calculator__icon-minus {
//             fill: $secondary-color;
//         }
//     }
// }

// .btn-counter-plus {
//     &:hover {
//         .calculator__icon-plus {
//             fill: $secondary-color;
//         }
//     }
// }

.calculator__counter-input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid $main-color;
    padding: 4px 8px 4px 14px;
    text-align: center;
    color: $main-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
        width: 72px;
    }

    @media screen and (min-width: 480px) {
        width: 120px;
    }

    @media screen and (max-width: 1199px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 18px;
    }

    &:hover {
        border-bottom: 1px solid $secondary-color;
    }
}


.calculator__icon-minus,
.calculator__icon-plus {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $main-color;
}

.calculator__total {
    justify-self: flex-end;
    font-weight: 500;

    .calculator__counter-label {
        @media screen and (max-width: 1199px) {
            font-size: 18px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 20px;
        }
    }

    .calculator__counter-input {
        @media screen and (max-width: 479px) {
            width: 96px;
        }

        @media screen and (min-width: 480px) {
            width: 120px;
        }
    }
}

.calculator__counter-label {
    padding: 0 8px;
}